<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- loading property files-->
	<context:property-placeholder location="classpath:sports.properties" />
	
	
	<!-- add entry to enable component scanning -->
	<bean id="myFortune" class="HappyFortuneService"></bean>
	
	<!-- <bean id="mycoach" class="BaseballCoach"> 
		<constructor-arg ref="myFortune" />
	</bean> -->
	
	<bean id="mycoach" class="TrackCoach"> 
		<constructor-arg ref="myFortune" />
	</bean>

	<bean id="myCricketCoach" class="CricketCoach">
		<property name="fortuneService" ref="myFortune" />
		
		<!-- injecting hardcoded values
		<property name="emailAddress" value="rajvpatil5@gmail.com" />
		<property name="team" value="Sunrise Hyderabad" />
		-->
		
		<!-- injecting from property file-->
		<property name="emailAddress" value="${foo.email}" />
		<property name="team" value="${foo.team}" />
		
		
	</bean>	
	

</beans>





